.page-header
  %h1 Themes

%p
  =link_to "New Theme", new_theme_path, class:"btn btn-primary"

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Actions
  %tbody
    -@themes.each do |theme|
      %tr
        %td=link_to theme.name, theme
        %td
          =link_to "Edit",[:edit,theme], class:'btn btn-sm btn-success'
          =link_to "Destroy",theme, :class=>'btn btn-sm btn-danger', "data-confirm"=>"Are you sure?", "data-method"=>"delete"
