.page-header
  %h1=@theme.name

%p
  =link_to "New Template",[:new,@theme,:template],class:'btn btn-primary'

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Actions
  %tbody
    -@theme.templates.each do |template|
      %tr
        %td=template.name
        %td
          =link_to "Edit",[:edit,@theme,template], class:'btn btn-sm btn-success'
          =link_to "Destroy",[@theme,template], :class=>'btn btn-sm btn-danger', "data-confirm"=>"Are you sure?", "data-method"=>"delete"
