.page-header
  %h1 Users

-#%p
  =link_to "New User", new_admin_user_path, class:"btn btn-primary"

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Actions
  %tbody
    -@users.each do |user|
      %tr
        %td=link_to user.name, [:edit,:admin,user]
        %td
          =link_to "Edit",[:edit,:admin,user], class:'btn btn-sm btn-success'
          -#=link_to "Destroy",[:admin,user], :class=>'btn btn-sm btn-danger', "data-confirm"=>"Are you sure?", "data-method"=>"delete"
